<h3>Here are all the clients for this stylist:</h3>


<ol>
@foreach (var client in @Model["client"])
{
  <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>


<h4>Add a stylist to this specialty:</h4>

<form action='/specialty/@Model["selectedSpecialty"].GetId()/stylists/new' method='post'>
    <label for='stylistId'>Select a stylist</label>
    <select id='stylistId' name='stylistId' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
        <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
    </select>
    <button type='submit'>Add</button>
</form>



<form action="/stylists/@Model["stylist"].GetId()/delete" method="post">
  <button type="submit">Delete this stylist</button>
</form>
<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<a href='/stylists/@Model["stylist"].GetId()/edit'>Click here to edit stylist name.</a>
